BasedOnStyle: LLVM
AlignConsecutiveDeclarations:
    Enabled: true
AlignConsecutiveAssignments:
    Enabled: true
TabWidth: 4
IndentWidth: 4
Cpp11BracedListStyle: false
BinPackParameters: true
ColumnLimit: 0